body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffe6f2;
    padding: 10px 0;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: center; /* Distribuir los elementos a los extremos */
    background-color: #ffc0cb;
    padding: 10px;
    align-items: center; /* Alinear verticalmente al centro */
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 15px; /* Margen derecho para separar los elementos del menú */
}

nav a:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último elemento del menú */
}

nav a:hover {
    color: #ff69b4;
}

section {
    padding: 20px;
}

footer {
    background-color: #ff69b4;
    text-align: center;
    padding: 10px 0;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

p {
    font-size: 20px; /* Tamaño de la fuente en píxeles */
}

.main-image {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Estilos del menú desplegable */
.dropdown-content {
    display: none;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi transparente */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    top: 60px; /* Ajusta según tu diseño */
    width: 90%; /* Ajusta según tu diseño */
    left: 5%; /* Ajusta según tu diseño */
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.dropdown-content li:last-child {
    border-bottom: none;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}

#welcome-section {
    background-color: #ffe6f2; /* Color rosa suave */
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin: 15px; /* Margen exterior */
    text-align: center; /* Texto centrado */
    font-family: Helvetica, Arial, sans-serif; /* Fuente Consolas */
}

.carousel {
    max-width: 800px; /* Ancho máximo del carrusel */
    margin: auto; /* Centrar el carrusel */
    display: flex; /* Usar flexbox para alinear elementos */
    justify-content: center; /* Centrar elementos horizontalmente */
}

.carousel .carousel-item {
    flex: 0 0 auto; /* Evitar que los elementos se estiren */
}

.carousel img {
    max-height: 300px; /* Altura máxima de las imágenes */
    width: auto; /* Ancho automático para mantener la proporción */
    object-fit: cover;
    display: block; /* Para asegurar que la imagen ocupe todo el espacio disponible */
    margin: 0 auto; /* Centrar la imagen dentro del contenedor */
}

.home-title-container {
    background-color: #ff69b4; /* Color rosa suave */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    display: inline-block; /* Convertir el contenedor en un bloque en línea */
    width: 1200px;
}

.corner-gif {
    position: absolute;
    width: 150px; /* Ajusta el tamaño de la imagen GIF según sea necesario */
    height: 150px; /* Ajusta el tamaño de la imagen GIF según sea necesario */
    background-image: url('gato3.gif'); /* Ruta de la imagen GIF */
    background-size: cover;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.titulo {
    background-color: #ff69b4; /* Color rosa suave */
    border-radius: 15px; /* Bordes redondeados */
    padding: 1px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    display: inline-block; /* Convertir el contenedor en un bloque en línea */
    color: white;
    align-items: center;
}

.products-container {
    display: flex; /* Utilizar Flexbox */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente línea si no caben en el ancho disponible */
    justify-content: space-around; /* Distribuir los elementos de manera uniforme con espacio alrededor */
    padding: 20px; /* Espaciado interno para el contenedor de productos */
    box-sizing: border-box; /* Incluir el padding en el ancho del contenedor */
}

/* Estilos para cada contenedor de producto */
.product-container {
    width: calc(25% - 20px); /* Ajustar el ancho de cada contenedor (25% del ancho total menos el margen) */
    margin: 10px; /* Margen exterior entre los contenedores */
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; /* Borde del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    text-align: center; /* Texto centrado */
    background-color: #f9f9f9; /* Color de fondo */
    font-family: Arial, sans-serif; /* Fuente */
    display: flex; /* Utilizar Flexbox para contenido dentro del contenedor */
    flex-direction: column; /* Establecer dirección de columnas (imagen arriba, texto abajo) */
}

/* Estilo para la imagen del producto */
.product-container img {
    max-width: 300px; /* Ajustar imagen al ancho del contenedor */
    height: 250px; /* Mantener proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para la imagen */
    margin-bottom: 10px; /* Margen inferior para separar la imagen del texto */
}

/* Estilo para el título del producto */
.product-container h3 {
    margin-bottom: 5px; /* Margen inferior para el título */
}

/* Estilo para el precio del producto */
.product-container p {
    margin-bottom: 10px; /* Margen inferior para el precio */
}

/* Estilo para el botón "Más detalles" */
.product-container .details-btn {
    background-color: #ff69b4; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Quitar borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 8px 15px; /* Espaciado interno */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Estilo para el botón al pasar el cursor */
.product-container .details-btn:hover {
    background-color: #ff4f9b; /* Cambiar color de fondo al pasar el cursor */
}

#details-section {
    padding: 20px;
    background-color: #fff5f8;
    margin: 20px;
    border-radius: 10px;
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.product-details img {
    max-width: 600px; /* Reduce el tamaño máximo de la imagen */
    height: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.details-content {
    flex: 1;
    max-width: 600px;
    padding: 20px;
}

.details-content h2 {
    margin-bottom: 10px;
    color: #ff69b4;
}

.details-content .price {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.details-content .description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;

}

.details-content .specifications {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.details-content .specifications li {
    background: #ffe6f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.quantity-selector {
    margin-bottom: 20px;
}

.quantity-selector label {
    font-size: 16px;
    margin-right: 10px;
}

.quantity-selector input {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.purchase-btn {
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.purchase-btn:hover {
    background-color: #ff4f9b;
}

.back-btn {
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.purchase-back:hover {
    background-color: #ff4f9b;
}

.auth-buttons {
   display: flex;
   justify-content: flex-end; /* Alinea los elementos al final del contenedor */
   margin-right: 100px; /* Margen derecho para separar los botones del menú */
   align-items: center; /* Alinea verticalmente los elementos */
}

.auth-button {
    background-color: #ff4f9b;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 10px;

}

.auth-button:hover {
    background-color: #ff4f9b;
}

.container {
    background-color: white; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 300px; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
}

.auth-form {
    text-align: center;
}

.auth-form h2 {
    margin-bottom: 20px;
}

.auth-form label {
    display: block;
    margin-bottom: 10px;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.auth-form button {
    background-color: #ff4f9b;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.auth-form button:hover {
    background-color: #ff69b4;
}

.auth-form p {
    margin-top: 15px;
}

.cart-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.total-amount {
    font-size: 1.5em;
    color: #333;
    text-align: right;
    margin: 10px 0;
    border-bottom: 3px solid #ff69b4;
    display: inline-block;
    padding-bottom: 5px;
}

.checkout-button {
    display: block;
    width: 100%;
    background-color: #ff69b4;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.checkout-button:hover {
    background-color: #ff1493;
}

.auth-buttons, nav {
    text-align: center;
    margin: 10px 0;
}

.auth-button {
    background-color: #ff69b4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    margin: 0 5px;
}

.auth-button:hover {
    background-color: #ff1493;
}

.auth-buttons .cart-button {
    background-color: #ff69b4; /* Color rosa */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: auto; /* Alinea el botón a la izquierda */
    border-radius: 20px; /* Esquinas redondeadas */
}

.auth-buttons .auth-button {
    background-color: #ff69b4; /* Color rosa */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 20px; /* Esquinas redondeadas */
}

.cart-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.continue-shopping-button, .checkout-button, .remove-button {
    background-color: #ff69b4;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.remove-button {
    background-color: #ff6347; /* Color rojo para el botón de quitar */
}

.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.6s ease-in-out;
    display: none; /* Ocultar inicialmente */
}

.centro{
  align-items: center;
}
